[submodule "CSGO Demo Manager/SJSourceDemo"]
	path = CSGO Demo Manager/SJSourceDemo
	url = https://github.com/sebj/SJSourceDemo.git
[submodule "CSGO Demo Manager/WAYTheDarkSide"]
	path = CSGO Demo Manager/WAYTheDarkSide
	url = https://github.com/weAreYeah/WAYTheDarkSide.git
[submodule "CSGO Demo Manager/ZipArchive"]
	path = CSGO Demo Manager/ZipArchive
	url = https://github.com/ZipArchive/ZipArchive.git
